.card {
  display: flex;
  width: 445px;
  height: 498px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 26px;
  flex-shrink: 0;
  margin: auto;
}

img {
  width: 445px;
  height: 310px;
  flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
  background: url(<path-to-image>),
    lightgray -1px 72.184px / 100.225% 53.43% no-repeat, #fff;
}
